*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 30px;
  background: rgb(29, 29, 29);
}

.inputBox{
  position: relative;
  width: 250px;

}

.inputBox input{
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(170, 168, 168);
  background-color:rgb(29, 29, 29);
  border-radius: 5px;
  outline: none;
  color:rgb(211, 209, 209);
  font-size: 1em;
  transition: 0.5s;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgb(192, 192, 192);
  text-transform: uppercase;
  transition: 0.5s;
}

.inputBox input:valid~ span,
.inputBox input:focus~ span{
  color:rgb(255, 255, 255);
  transform: translateX(10px) translateY(-7px);
  font-size: 0.65em;
  padding: 0 10px;
  background:rgb(29, 29, 29) ;
  border-left: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  letter-spacing: 0.2em;
}

.inputBox input:valid,
.inputBox input:focus{
  border: 1px solid rgb(255, 255, 255);
}

.inputBox:nth-child(2) input:valid~ span,
.inputBox:nth-child(2) input:focus~ span{
background-color: rgb(255, 255, 255);
color: rgb(29, 29, 29) ;
border-radius: 2px;
}